<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Formulario</title>
</head>
<body>
	<h1>Formulario</h1>
	<br>
	<form action="" method="POST">
        <label for="num1">Numero 1</label>
        <input type="text" name="num1">
        <br>
        <label for="num2">Numero 2</label>
        <input type="text" name="num2">
        <br>
        <input type="submit" name="enviar" value="Sumar">
    </form>
	<p><a href="/index">Index</p></a>
	<p><a href="/about">About</p></a>
</body>
</html>