
	<form method="POST" enctype="multipart/form-data" action="">
		<label for="">Producto: </label><br>
		<input type="text" name="producto" id="producto">
		<br>
		<label for="">Descripcion: </label><br>
		<input type="text" name="descripcion" id="descripcion">
		<br>
		<label for="">Existencias: </label><br>
		<input type="text" name="existencias" id="existencias">
		<br>
		<label for="">Precio venta: </label><br>
		<input type="text" name="p_compra" id="p_compra">
		<br>
		<label for="">Precio compra: </label><br>
		<input type="text" name="p_venta" id="p_venta">
		<br><br>
		<input type="file" name="imagen" id="imagen">
		<br/><br>
		<input type="submit" value="guardar">
	</form>